@import "./variables.scss";

.buttonEmpty {
  border: none;
  background: none;
  display: inline-block;
  font-size: 1.75rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  &-arrow {
    color: $primary;
  }

  &-cross {
    font-size: 1.5rem;
    color: $error;
    font-weight: map-get($font-weights, bold);
  }
}

.buttonEmpty-arrow:hover {
  color: $accent;
}

.buttonEmpty-cross:hover {
  opacity: 75%;
}

.button {
  border: none;
  cursor: pointer;
  font-size: 1.75rem;
  font-weight: map-get($font-weights, bold);
  padding: 10px 15px;
  transition: all 0.25s ease-in-out;
  border-radius: 50px;

  &-primary {
    background-color: $primary;
    color: $background;

    &:hover {
      background-color: $accent;
    }
  }
}
