$background: #ffffff;
$text: #000000;
$primary: #e80087;
$secondary: #ffadff;
$error: #ff6571;
$success: #33bf3d;
$accent: #fd71f0;

$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700
);