@import "./../sass/variables.scss";

.body-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > * {
    margin: 15px 0;
  }
}

.body-part {
  position: relative;
  padding: 45px;
  border: 1px solid $text;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-card {
  position: relative;
  margin: 15px 0;
}

.body-delete-button {
  position: absolute;
  right: 10px;
  top: 5px;
}
