@import "./../sass/variables.scss";

.appFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;

  a {
    text-decoration: none;
    color: $text;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $primary;
    }
  }
}

.appFooter-logo {
  font-size: 2.5rem;
}
