@import "./../sass/variables.scss";

.input {
  background-color: darken($background, 1%);
  position: relative;
  border: 1px solid $text;
  padding: 15px 10px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  &-label {
    font-size: 1.5rem;
    font-weight: map-get($font-weights, medium);
    margin-bottom: 5px;
  }

  &-text {
    margin-left: 15px;
    font-size: 1.2rem;
    font-weight: map-get($font-weights, regular);
    transition: all 0.25s ease-in-out;
    font-family: "Ubuntu", sans-serif;
    outline: none;

    &:focus {
      border: 1px solid $primary;
      -webkit-box-shadow: 0px 0px 5px 0px $primary;
      -moz-box-shadow: 0px 0px 5px 0px $primary;
      box-shadow: 0px 0px 5px 0px $primary;
    }
  }
}

.header-delete-button {
  position: absolute;
  right: 10px;
  top: 5px;
}
