@import "./sass/variables.scss";

.container {
  display: flex;
  justify-content: space-around;
}

.side-area {
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: $text;
  background-color: $background;
}
